!.vscode/extensions.json
*.local
*.log
.DS_Store
.env
.env.backup
.env.production
.idea
.phpactor.json
.phpunit.result.cache
.vscode/*
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/client/dist
/client/node_modules
/dist-ssr
/node_modules
client/dist/
client/node_modules/
node_modules/
npm-debug.log*
pnpm-debug.log*
skill/
storage/logs/*
vendor/
yarn-debug.log*
yarn-error.log*
